<div class="card-shop" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?<%= @shop.taxons.first ? @shop.taxons.first.name : "vegetable" %>)">
  <%= @shop.name %>
</div>

<% if @products.any? %>
  <div class="wrapper">
    <!-- we display a list of the available categories -->
    <div class="categories">
      <% @shop.taxons.each do |taxon| %>
        <!-- we display only the ones which aren't empty -->
        <% if taxon.products.where(shop: @shop).any? %>
          <div class="categories-item">
            <%= taxon.name %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="products">
      <% @shop.taxons.each do |taxon| %>
        <!-- we check if the shops' categories have a product as above -->
        <% if taxon.products.where(shop: @shop).any? %>
          <h2><%= taxon.name %></h2>
          <!-- if yes, we display a card of the product -->
          <div class="products-item">
            <% @products.each do |product| %>
              <!-- with only the right product for the right taxon -->
              <% if product.taxons.include?(taxon) %>
                <%= render partial: "shops/product_card", locals: { product: product, taxon: taxon } %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% else %>
  <h1 style="text-align: center; margin-top: 50px;">Sorry this shop doesn't have any products yet.</h1>
<% end %>
